* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(32, 29, 29);
  color: white;
  padding: 1rem;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textCenter {
  text-align: center;
}

.btn {
  width: 150px;
  background-color: blueviolet;
  color: white;
  padding: 1rem;
  border: none;
  outline: none;
  transition: all 0.4s ease-in-out;
  margin: 10px;
  border-radius: 20px;
}

.btn:hover {
  background-color: rgb(113, 38, 184);
  border: 1px solid rgba(245, 245, 245, 0.466);
}

.danger {
  background: red;
}
.danger:hover {
  background: rgb(211, 40, 40);
}

.success {
  background: green;
}
.success:hover {
  background: rgb(21, 92, 21);
}

h6 {
  font-size: 22px;
}

h6,
h3 {
  margin: 10px;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: rgb(0, 238, 255);
}

.wrapper {
  width: 250px;
  background: transparent;
  border: 1px solid white;
  margin: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: black;
  text-align: center;
  color: white;
}
